
.banner-wrapper .row,
.subscribe {
  background-color: #feeae9;
}
.buy-now {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.single-category1 {
 background-color: #FFA500;
}
.single-category2 {
 background-color: #DA70D6;
}
.single-category3 {
 background-color: #0000FF;
}

